.dashboard {
    display: flex;
}

.dashboard-side {
    width: 20vw;
    height: 100vh;
    padding: 2vh 0;
    position: fixed;
    background-color: white;
    border-right: 1px solid lightgrey;
    z-index: 2000;
}

.dashboard-side-message {
    margin-left: 1.5vw;
    margin-top: 2vh;
    font-size: 3.5vh;
}

.side-message-greet {
    font-size: 2.2vh;
}

.dashboard-main {
    width: 80vw;
    padding: 2vh 5vw 2vh 25vw;
    background-color: #f5f5f5;
}

.profile-info {
    text-align: center;
    font-size: 3.5vh;
    margin: 1vh 0 5vh 0;
    font-weight: bold;
    letter-spacing: 3px;
    color: grey;
}

.profile-option-arrow {

}

.dashboard-options {
    font-size: 2.2vh;
    width: 70%;
    margin: 1vh auto;

}

.dashboard-option-active {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2.5vh 0;
    color: white;
    background-color: #2196f3;
    padding: 1.5vh 1vw;
    border-radius: 15px;
}

.dashboard-option-unactive {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin: 2.5vh 0;
    color: grey;
    padding: 1.5vh 1vw;
}

.dashboard-profile-icon {
    font-size: 20px;
    margin-right: 1vw;
}

.dashboard-heading {
    font-size: 4vh;
    font-weight: bold;
    color: grey;
    letter-spacing: 2px;
}


.logout {
    display: inline;
    text-align: center;
    font-size: 2.2vh;
    cursor: pointer;
    color: #2196f3;
}


/* #2196f3 */

@media screen and (max-width: 730px){
.dashboard-side {
    width: 25vw;
}

.dashboard-options {
    font-size: 1.5vh;
    width: 70%;
    margin: 0.5vh 0.5vh;

}
.dashboard-option-active{
    margin: 1vh 0;
    color: white;
    background-color: #2196f3;
    padding: 0.5vh 3vw;
    border-radius: 15px;
    justify-content: center;
}

.profile-info>img{
    width:85px;
}
.profile-info>.profile-info-name {
    text-align: center;
    font-size: 1.99vh;
    margin: 1vh 0 5vh 0;
    font-weight: bold;
    color: grey;
}
}

@media screen and (max-width: 375px){
    .profile-info>img{
        width:65px;
    }
    .profile-info>.profile-info-name {
        text-align: center;
        font-size: 0.99vh;
        margin: 1vh 0 5vh 0;
        font-weight: bold;
        color: grey;
    } 
}
