.landing {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    /* background: linear-gradient(-90deg, #02203c, #001528);
    color: white; */
}

.landing-banner {
    width: 40%;
    text-align: left;
}

.landing-illustration {
    width: 40%;
}

.banner-heading {
    font-size: 9vh;
    font-weight: 800;
    background: -webkit-linear-gradient(#bc4e9c, #f80759);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-subheading {
    font-size: 4vh;
}

.pricing {
    display: grid;
    gap: 5vw;
    grid-template-columns: repeat(3,1fr);
    width: 90%;
    margin: 20vh auto;
    font-size: 2.5vh;
}

.bronze {
    box-shadow: 0 0 30px lightgrey;
    padding: 8vh 0;
    border-radius: 10px;
    text-align: center;
}
.bronze-get-started {
    background-color: brown;
    border-radius: 5px;
    padding: 1vh 5vw;
    display: inline-block;
    cursor: pointer;
    color: white;
}

.silver {
    box-shadow: 0 0 30px lightgrey;
    padding: 8vh 0;
    border-radius: 10px;
    text-align: center;
}
.silver-get-started {
    background-color: silver;
    border-radius: 5px;
    padding: 1vh 5vw;
    display: inline-block;
    cursor: pointer;
    color: white;
}

.gold {
    box-shadow: 0 0 30px lightgrey;
    padding: 8vh 0;
    border-radius: 10px;
    text-align: center;
}
.gold-get-started {
    background-color: gold;
    border-radius: 5px;
    padding: 1vh 5vw;
    display: inline-block;
    cursor: pointer;
    color: white;
}

.details {
    margin: 8vh 0;
}
.detail-element {
    
}

.tick-icon {
    color: #00c4cc;
}

.price {
    margin-top: 3vh;
}
.price-value {
    font-size: 6vh;
    font-weight: bold;
}

.money-back {
    color: green;
}




/* trusted-by */

.trusted {
    width: 90%;
    margin: auto;
    margin-bottom: 20vh;
    text-align: left;
}

.trusted-grid {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 5vw;
    margin: 5vh 0;
}



/* features */

.features-heading {
    font-size: 5vh;
    text-align: center;
}