.clubs {
    margin-top: 5vh;
}

.active-tab {
    padding: 0.1vh 0;
    font-size: 2.5vh;
    cursor: pointer;
    margin-right: 2vw;
    border-bottom: 2px solid #2196f3;
}

.unactive-tab {
    padding: 0.1vh 0;
    font-size: 2.5vh;
    cursor: pointer;
    margin-right: 2vw;
    border-bottom: 2px solid #f5f5f5;
}
@media screen and (max-width: 730px){
    .clubs{
        margin-top: 15vh;
    }
.clubs>div{
    
    flex-direction: column;
    align-items: left;
}}
