.clubs {
    margin-top: 5vh;
}

.active-tab {
    border: 1px solid #2196f3;
    color: white;
    padding: 0.1vh 0.5vw;
    border-radius: 15px;
    font-size: 2vh;
    cursor: pointer;
    margin-right: 1vw;
    background-color: #2196f3;
}

.unactive-tab {
    border: 1px solid #2196f3;
    color: #2196f3;
    padding: 0.1vh 0.5vw;
    border-radius: 15px;
    font-size: 2vh;
    cursor: pointer;
    margin-right: 1vw;
}