.explore-clubs {
    width: 100%;
}

/* .your-club:hover .join-club {
    color: white;
    border: 1px solid white;
} */

.join-club {
    font-size: 2.2vh;
    color: #2196f3;
    background-color: #e3f2fd;
    padding: 0.5vh 0.5vw;
    border-radius: 15px;
    font-size: 2vh;
    cursor: pointer;
}
.join-club:hover {
    background-color: #2196f3;
    color: white;
}

.your-club-faculty {
    color: grey;
    font-size: 2vh;
}