.your-club-container {
    width: 100%;
}

.your-club {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    padding: 3vh 1.5vw;
    margin: 2vh 0;
    box-shadow: 2px 0 10px rgb(230, 230, 230);
}
.selected-club {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e0f1ff;
    border-radius: 15px;
    padding: 1.5vh 1vw;
    margin: 2vh 0;
    box-shadow: 2px 0 10px rgb(230, 230, 230);
    cursor: pointer;
    color: white;
}
/* .your-club:hover {
    background-color: #2196f3;
}
.your-club:hover .your-club-name{
    color: white;
}
.your-club:hover .your-club-desc{
    color: white;
}
.your-club:hover .remove-club {
    color: white;
    border: 1px solid white;
} */



.your-club-name {
    font-size: 3.5vh;
    color: black;
    cursor: pointer;
}
.your-club-name:hover {
    color: #2196f3;
}

.your-club-desc {
    color: grey;
    font-size: 2.2vh;
}

.your-club-image {
    width: 100px;
    /* background-color: aliceblue;
    border-radius: 10px;
    padding: 2vh; */
    margin-right: 1vw;
    object-fit: cover;
}

.your-club-members {
    font-size: 2vh;
    margin-top: 1vh;
    display: flex;
    align-items: center;
}

.members-icon {
    font-size: 25px;
    margin-right: 0.5vw;
}

.remove-club {
    font-size: 2.2vh;
    color: red;
    background-color: #ffebee;
    padding: 0.5vh 0.5vw;
    border-radius: 15px;
    font-size: 2vh;
    cursor: pointer;
}
.remove-club:hover {
    background-color: red;
    color: white;
}