.login-page {
    display: flex;
    justify-content: space-evenly;
    padding: 10vh 0;
    background-color: #f5f5f5;
    height: 100vh;
}

.login-form {
    position: absolute;
    width: 25%;
    padding: 4vh 3vw;
    border-radius: 15px;
    background-color: white;
    box-shadow: 2px 0 10px rgb(230, 230, 230);
}

.login-heading {
    font-size: 3.2vh;
    font-weight: bold;
    text-align: center;
    color: grey;
    letter-spacing: 1px;
}

.form-element {
    margin: 1.5vh 0;
}

.form-element-title {

}

.form-element-input {
    width: 91%;
    padding: 1.5vh 1vw;
    font-family: Poppins;
    border: none;
}
.form-element-input:focus {
    outline: none;
}

.form-login-button {
    width: 100%;
    margin-top: 2.5vh;
    cursor: pointer;
    border: 1px solid #2196f3;
    color: white;
    background-color: #2196f3;
    border-radius: 15px;
    text-align: center;
    padding: 1vh 0;
}
.form-login-button:hover {
    background-color: white;
    color: #2196f3;
}



.register-as {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2vh 0;
}

.active-register {
    border: 1.5px solid #2196f3;
    border-radius: 5px;
    padding: 0.5vh 0.5vw;
    box-shadow: 5px 5px 10px lightgrey;
    cursor: pointer;
}

.register-option {
    padding: 0.5vh 0.5vw;
    cursor: pointer;
}

.not-registered {
    text-align: center;
    font-size: 2.2vh;
}

.register-link {
    text-decoration: none;
    color: #2196f3;
}
.register-link:hover {
    text-decoration: underline black;
}

.login-as-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5vh 0;
}

.login-as-icons-active {
    text-align: center;
    margin: 0 0.5vw;
    font-size: 2.2vh;
    color: white;
    cursor: pointer;
    background-color: #2196f3;
    border-radius: 100%;
    padding: 2vh;
}
.login-as-icons-unactive {
    text-align: center;
    margin: 0 0.5vw;
    font-size: 2.2vh;
    cursor: pointer;
    background-color: white;
    border-radius: 100%;
    padding: 2vh;
}

.login-as-icon {
    font-size: 20px;
}