.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15vh;
    background: white;
}

.nav-logo {
    margin-left: 5vw;
    font-size: 5vh;
    font-weight: bold;
    color: blue;
}

.nav-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25vw;
}

.nav-option {
    border-bottom: 1px solid white;
}
.nav-option:hover {
    color: blue;
    text-decoration: underline black;
    cursor: pointer;
}

.nav-buttons {
    display: flex;
    margin-right: 5vw;
}

.nav-login {
    border: none;
    cursor: pointer;
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 1vh 1vw;
    border-radius: 5px;
    font-family: Poppins;
}
.nav-login:hover {
    background-color: blue;
}

.nav-register {
    cursor: pointer;
    text-decoration: none;
    padding: 1vh 1vw;
    border-radius: 5px;
    border: none;
    margin-right: 1vw;
    text-decoration: none;
    color: black;
    font-family: Poppins;
}
.nav-register:hover {
    color: blue;
}